[Unit]
Description=RoboCoop Update Service
After=network.target

[Service]
Type=simple
ExecStart={{ install_dir }}/ansible/ansible-playbook -i inventory bootstrap.yml -t timers
WorkingDirectory={{ install_dir }}/ansible
