[DEFAULT]
pushbullet_api_key = {{ pb_api_key }}
doors_to_open = frontdoor

[frontdoor]
top_sensor_pin = {{ gpio_top_sensor_pin }}
bottom_sensor_pin = {{ gpio_bottom_sensor_pin }}
motor_a_pin = {{ gpio_motor_a_pin }}
motor_b_pin = {{ gpio_motor_b_pin }}
safety_limit = {{ safety_limit }}
