[Unit]
Description=RoboCoop Update Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ansible-playbook -i inventory bootstrap.yml -t timers
ExecStop=
WorkingDirectory={{ install_dir }}/ansible
