[Unit]
Description=Runs the rpi-chicken-door script

[Timer]
OnCalendar=*-*-* 18:30:00
Persistent=true
Unit=rpi-chicken-door.service

[Install]
WantedBy=multi-user.target
