[Unit]
Description=Dash Button Responder
Requires=network.target local-fs.target

[Service]
Type=forking
KillMode=none
ExecStart=/usr/bin/tmux new-session -s dash -n listener -d ./dash_sniffer.py
ExecStop=/usr/bin/tmux send-keys -t dash:listener C-q
WorkingDirectory=/opt/robocoop/dash_button
Restart=on-failure

[Install]
WantedBy=multi-user.target
